<title><%= "#{@title}" %></title>

<section class="leftcontent">
	<h1>Coming Soon!</h1>
	<div class="ComingSoon">
		<p>This is going to be the most amazing thing you've ever seen. Really.</p>
		<p>Give us your deets and we'll let you in on the ground floor.</p>
<<<<<<< HEAD
		</div>
	<form class="InputForm" method="POST"  action='/thanks'>
		<div>
			<input class="name" type="text" placeholder="What everybody calls you" name="name"/>
		</div>
		<div>
			<input class="email" type="email" placeholder="Your@email.com" name="email"/>
		</div>
		<div>
			<input class="twitter" type="text" placeholder="@Twitter" name="twitter"/>	
=======
		</div>
	<form class="InputForm" method="POST" action="/thanks">
		<div>
			<input class="name" type="text" id="name" placeholder="What everybody calls you" name="name"/>
		</div>
		<div>
			<input class="email" type="email" id="mail" placeholder="Your@email.com" name="email"/>
		</div>
		<div>
			<input class="twitter" type="text" id="twitter" placeholder="@Twitter" name="twitter"/>	
>>>>>>> 8df7aef69bfd6ca774837b4fab391e8b5092af1b
			<button  class="submitButton" type="submit">Press the button!</button>
		</div>	
	</form>
</section>	
<section class="rightcontent">	
		<img src="/images/logo3.png">
</section>
<!--
<div class="Logo">
			<img src="/images/logo1.png">
</div> -->
