<!doctype html>
<html lang="en">
	<head>		
		<meta charset="utf-8">
		
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<h1>Born Every Minute</h1>
		</header>
		<div class ="maincontent">
			<%= yield %>
		</div>		
	</body>
	
	<footer>
		Copyright &copy; <%= Time.now.year %> The Long Con LLC
	</footer>
</html>