<title><%= "#{@title}" %></title>

<section class="leftcontent">
	<div class="thanks">
		<h1>Thanks!</h1>
<<<<<<< HEAD
		
		<p>Thanks, <%= "#{session[:name]} " %>!</p>
=======
		<p>Thanks, <%= "#{session[:value]["name"]}" %>!</p>
>>>>>>> 8df7aef69bfd6ca774837b4fab391e8b5092af1b
		<p>We'll let you know about this amazing, incredible opportunity just as soon as possible!</p>
	</div>
</section>	
<section class="rightcontent">	
	<img src="/images/logo3.png">
</section>